body {
    font-family: 'Overlock', sans-serif;
}

.brand {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 100px 100px;
    border: 1px solid #EFEFEF;
    background-color: #F5F5F5;
    margin: 0 auto;
    width: 350px;
}

.brand h1 {
    text-align: center;
    letter-spacing: 4px;
    margin-top: 5px;
    color: #333;
    font-family: 'Overlock SC', serif;
}

.logo {
    height: 150px;
    border: 1px solid #EFEFEF;
    padding: 7px;
    display: block;
    margin: auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px #888888;
}

.navbar {
    margin-top: 100px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    z-index: 1;
}

.navbar-default {
    background-color: #ad4444;
    border-color: #ad4444;
    border-top: 1px dashed pink;
    border-bottom: 1px dashed pink;
}

.navbar-default .navbar-brand {
    color: #d9d9d9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d9d9d9;
}

.navbar-default .navbar-text {
    color: #d9d9d9;
}

.navbar-default .navbar-nav>li>a {
    color: #d9d9d9;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #d9d9d9;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #d9d9d9;
    background-color: #ad4444;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #d9d9d9;
    background-color: #ad4444;
}

.navbar-default .navbar-toggle {
    border-color: #ad4444;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ad4444;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d9d9d9;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #d9d9d9;
}

.navbar-default .navbar-link {
    color: #d9d9d9;
}

.navbar-default .navbar-link:hover {
    color: #d9d9d9;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #d9d9d9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #d9d9d9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #d9d9d9;
        background-color: #ad4444;
    }
}

.nav li:hover,
.nav li:focus {
    background-color: #853a3a;
}

.nav li {
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-left {
    padding-left: 10vw;
}

.navbar-right {
    padding-right: 10vw;
}

body h3,
table,
tr,
td,
th,
p {
    text-align: center;
}

table {
    margin: 0px auto;
}

th {
    padding-right: 5px;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin-top: 15px;
}

@media (max-width: 1370px) {
    .brand {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px 0px 100px 100px;
        border: 1px solid #EFEFEF;
        background-color: #F5F5F5;
        margin: 0 auto;
        width: 300px;
    }
    .brand h1 {
        text-align: center;
        letter-spacing: 4px;
        margin-top: 5px;
        color: #333;
        font-family: 'Overlock SC', serif;
        font-size: 28px;
    }
    .logo {
        height: 100px;
        border: 1px solid #EFEFEF;
        padding: 7px;
        display: block;
        margin: auto;
        background-color: #FFF;
        box-shadow: 3px 3px 3px #888888;
    }
    .navbar {
        margin-top: 70px;
    }
}

@media (max-width: 1110px) {
    .brand {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px 0px 100px 100px;
        border: 1px solid #EFEFEF;
        background-color: #F5F5F5;
        margin: 0 auto;
        width: 260px;
    }
    .brand h1 {
        text-align: center;
        letter-spacing: 4px;
        margin-top: 5px;
        color: #333;
        font-family: 'Overlock SC', serif;
        font-size: 20px;
    }
    .logo {
        height: 85px;
        border: 1px solid #EFEFEF;
        padding: 7px;
        display: block;
        margin: auto;
        background-color: #FFF;
        box-shadow: 3px 3px 3px #888888;
    }
    .navbar {
        margin-top: 50px;
    }
    .navbar-left {
        padding-left: 5vw;
    }
    .navbar-right {
        padding-right: 5vw;
    }
}

@media (max-width: 925px) {
    .brand {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px 0px 100px 100px;
        border: 1px solid #EFEFEF;
        background-color: #F5F5F5;
        margin: 0 auto;
        width: 260px;
    }
    .brand h1 {
        text-align: center;
        letter-spacing: 4px;
        margin-top: 5px;
        color: #333;
        font-family: 'Overlock SC', serif;
        font-size: 20px;
    }
    .logo {
        height: 85px;
        border: 1px solid #EFEFEF;
        padding: 7px;
        display: block;
        margin: auto;
        background-color: #FFF;
        box-shadow: 3px 3px 3px #888888;
    }
    .navbar {
        margin-top: 50px;
    }
    .navbar-left {
        padding-left: 10px;
    }
    .navbar-right {
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .brand {
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px 0px 0px 0px;
        border: 1px solid #EFEFEF;
        background-color: #F5F5F5;
        margin: 0 auto;
        width: 100vw;
    }
    .brand h1 {
        text-align: center;
        letter-spacing: 4px;
        margin-top: 5px;
        color: #333;
        font-family: 'Overlock SC', serif;
        font-size: 18px;
    }
    .logo {
        height: 75px;
        border: 1px solid #EFEFEF;
        padding: 4px;
        display: block;
        margin: auto;
        background-color: #FFF;
        box-shadow: 2px 2px 2px #888888;
    }
    .navbar {
        margin-top: 45px;
        padding-top: 100px;
    }
    .nav li {
        padding-left: 0vw;
        padding-right: 0vw;
    }
    .navbar-left {
        padding-left: 0px;
    }
    .navbar-right {
        padding-right: 0px;
    }
}
